:root {
  /* colour vars */
  --_background: rgb(226, 226, 226);
  --_button-colour: rgb(173, 173, 173);
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: var(--_background);
    border-radius: 0.25em;
    width: 350px;

    main button {
      background-color: var(--_button-colour);
      border: 2px solid var(--_button-colour);
      border-radius: 0.25em;
      padding: 0.5em 1em 0.5em 1em;
    }

    main input {
      padding: 0.5em;
    }
  }
}
